/* Reset de estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

/* Estilos gerais da página */
body {
  background-image: url('img.jpg'); /* Substitua pelo caminho da sua imagem de fundo */
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro e um pouco transparente */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

h1 {
  text-align: center;
}

div {
  padding-top: 200px;
  text-align: center;
  padding-bottom: 20px;
}

table {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  word-wrap: break-word;
  margin: 0 auto;
  background-color: white;
  width: 1100px;
  opacity: 0.95;
  padding: 20px;
  font-weight: 500;
}

table tr:first-child {
  background-color: #222222;; /* Cor de fundo vermelha para o primeiro <tr> */
  color: white;
}

tbody {
  border-spacing: 0px;
}

table, th, td {
  border-spacing: 0px;
  text-align: center;
}
/*
th, td {
  
}

tr {
  text-align: center;
}

a {
 
}

a:hover {
  
}
*/